<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <h1>About Us</h1>
  <p>This page tells you about our server.</p>
  <a href="/">Home</a> | <a href="/contact">Contact</a>
</body>
</html>
