<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <h1>Contact Us</h1>
    <p>Feel free to contact us at: example@example.com</p>
    <a href="/">Home</a> | <a href="/about">About</a>
</body>

</html>