<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <h1>Home Page</h1>
  <p>This is the home page of our basic web server.</p>
  <a href="/about">About</a> | <a href="/contact">Contact</a>
</body>
</html>
